 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This is window into my game projects. You'll be able to play my latest games. All games are 100% free and are made to be fun and addicting. I'm free for talks so please <a href="https://infuscy.github.io/#contact">contact</a> me.</p>
                </div>
                <div class="col-lg-4">
                    <p>Tappy Plane is my latest game. A small addicting clone of Flappy Bird, with a twist! It's also my test run of Defold game engine.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download">https://infuscy.github.io/TappyPlane/</i> Play Tappy Plane
                    </a>
                </div>
            </div>
        </div>
    </section>