<!DOCTYPE html>
<html lang="ro">
    {% include head.html %}
    <body id="page-top" class="index">
    <a class="skip-link" href="#main">Sari la conținut</a>
    {% include nav.html %}
    <main id="main">
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include civic.html %}
    {% include fiction.html %}
    {% include about.html %}

    {% include contact.html %}
    </main>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
